formatters:
  standard:
    format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'

handlers:
  console:
    handler_class: logging.StreamHandler
    level: WARNING
    formatter: standard
    stream: ext://sys.stdout

loggers:
  puzzle:
    level: WARNING
    handlers:
      - console
